* {
    margin: 0;
    padding: 0;
  }

html,
body {
  height: 100%;
}

body {
    background-color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 50px 0px 0px 0px;
    /* background-color: blueviolet; */
}

h1 {
    font-size: 40px;
}

.square-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: 15px solid rgb(240, 110, 255);
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    flex: 0 0 auto;
    text-align: center;
    /* background-color: rgb(250, 160, 238); */
    padding: 20px;
  }
      
  .inner-square {
    height: 30px;
    width: 30px;
    background-color: rgb(237, 255, 253);
    border: 0.5px solid rgb(188, 156, 156);
    box-sizing: border-box;
  }

  .my-colour-class {
    background-color:aqua;
  }